//- /views/genre_detail.pug
//- 2021-07-24 21:10
//- See https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Displaying_data/Genre_detail_page
//- The view is very similar to all our other templates. The main 
//- difference is that we don't use the title passed in for the first 
//- heading (though it is used in the underlying layout.pug template to 
//- set the page title).
extends layout

block content

  h2 Genre: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    
    dl
    each book in genre_books
      dt 
        a(href=book.url) #{book.title}
      dd #{book.summary}

    else
      p This genre has no books.
      
  hr
  p
    a(href=genre.url+'/delete') Delete genre
  p
    a(href=genre.url+'/update') Update genre